spring:
  profiles:
    active: prod
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    clean-disabled: false
    #    clean-on-validation-error: true
    locations: classpath:db/migration